# ========================
# Environment
# ========================
.env
.env.*

# ========================
# Build / Binaries
# ========================
/bin/
/build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# ========================
# Go
# ========================
vendor/
*.test
coverage.out

# ========================
# Logs
# ========================
*.log

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.swp

# ========================
# OS
# ========================
.DS_Store
Thumbs.db